{% include 'header.html' %}

<h1 class="h1">TABLA DE PERSONAJES</h1>
   
    <table class="table bg-info">
        <thead cellpadding="1.0" cellspacing="1.0">
            <tr>
                <th>Nombre</th>          
                <th>Tipo 1</th>
                <th>Tipo 2</th>
                <th>HP</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Special Attack</th> 
                <th>Special Defense</th>
                <th>Speed</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row.get_name()}}</td>
                <td>{{row.get_principalType()}}</td>
                <td>{{row.get_secondaryType()}}</td>
                <td>{{row.get_hp()}}</td>
                <td>{{row.get_characteristics()["attack"]}}</td> 
                <td>{{row.get_characteristics()["defense"]}}</td>
                <td>{{row.get_characteristics()["sp_attack"]}}</td>
                <td>{{row.get_characteristics()["sp_defense"]}}</td>
                <td>{{row.get_characteristics()["speed"]}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>

    


{% include 'footer.html' %}